body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto;
  
}



    
#image {
    height: 150%;
    width: 150%;
    border: 2px solid black;  
    border-radius: 15%;  
}